body {
  text-align: center;
  background-color: #ecf0f1;
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  height: 10vh;
  background-color: #34495e;
}

.main {
  min-height: 80vh;
  position: relative;
}

.todoForm {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%, 10%);
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
}

#textInput {
  font-size: 2.25rem;
  text-align: center;
  border: 2px solid #34495e;
}

#submit {
  height: 50px;
  background-color: #34495e;
  border: none;
  color: white;
  font-size: 1.25rem;
  transition: all 0.25s ease-in;
}

#submit:hover {
  background-color: #2ecc71;
}

#todoList {
  /* background-color: #34495e; */
  position: relative;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
}

footer {
  height: 10vh;
  background-color: #34495e;
}

.todoItem {
  background-color: #34495e;
  color: white;
  transition: all 0.25s ease-in;
}

.todoItem:hover {
  background-color: #e74c3c;
}
